<!-- Notifications Component -->

<li class="dropdown nav-icon">
  <a href="#" data-bs-toggle="dropdown" class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
    <div class="d-lg-inline-block">
      <i data-feather="bell"></i>
    </div>
  </a>
  <div class="dropdown-menu dropdown-menu-end dropdown-menu-large">
    <h6 class='py-2 px-4'>Notifications</h6>
    <ul class="list-group rounded-none">

      <!-- use foreach for all notifications -->
      <li class="list-group-item border-0 align-items-start">
        <div class="avatar bg-success me-3">
          <span class="avatar-content"><i data-feather="shopping-cart"></i></span>
        </div>
        <div>
          <h6 class='text-bold'>New Order</h6>
          <p class='text-xs'>
            An order made by Ahmad Saugi for product Samsung Galaxy S69
          </p>
        </div>
      </li>
      <!-- use foreach for all notifications -->

    </ul>
  </div>
</li>